<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.1.1/js/tabulator.min.js"></script>
    <script type="text/javascript" src="tabulator.js"></script>
    <title>Title</title>
</head>
<body>
    <div id="table">
        <h1>Test</h1>
        <hr/>
        <table>
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>UUID</th>-->
<!--                <th>Name</th>-->
<!--                <th>Crone expression</th>-->
<!--            </tr>-->
<!--            </thead>-->
            <tbody>
            <tr th:each="report: ${reports}">
                <td th:text="${report}"/>
<!--                <td th:text="${report.name}"/>-->
<!--                <td th:text="${report.cronExpression}"/>-->
<!--                <td th:text="${report.getAddresses().getFirst()}"/>-->
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>